body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}
/* PSEUDO ELEMENT HERE */
p::first-letter {
    font-size: 1.5em;
}
/* PSEUDO ELEMENT HERE */
::selection {
    color: #123913; 
    background: #bfd7d6;
}
/* CSS COMBINATOR HERE */
h1 ~ p {
    line-height: 1.3em;
}
/* styling for the headers on the history and family tree pages, which includes the title of the site and the navbar*/
header {
    text-align: center;
    margin: 0;
    padding: 30px 0px 50px;
    background-color: #b1cab5;
}
/* CSS COMBINATOR HERE */
header nav ul {
    padding: 0;
    margin: 0;
}
header nav ul li {
  display: inline-block;
}
/* PSEUDO CLASS HERE */
header nav ul li:not(:first-child) {
  margin-left: 7px;
}
header nav ul li a {
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.1em;
  color: #fff;
}
header nav ul li:not(.active) a:hover {
  color: #888;
}
header nav ul li.active a {
  color: #000;
}
/* styling for just the home page */
.index {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url('https://imgur.com/BQdmPaG.png');
  background-size: cover;
}
.index nav {
  width: fit-content;
  padding: 20px 0px;
  margin: 0 auto;
}
.index nav ul {
  margin: 0; padding: 0;
  width: fit-content;
}
.index nav ul li {
  display: inline-block;
}
/* PSEUDO CLASS HERE */
.index nav ul li:not(:first-child) {
  margin-left: 10px;
}
.index nav ul li a {
  text-decoration: none;
  font-size: 1.1em;
  color: #fff;
}
.index nav ul li:not(.active) a:hover {
    color: #888;
}
.index nav ul li.active a {
  color: #000;
}
.index .header {
  position: absolute;
  top: 50%; left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 3px;
  font-size: 3em;
  color: #ddd;
}

.about {
  box-sizing: border-box;
  padding: 50px 100px;
  margin: 30px 0px;
}

.about .description {
  display: inline-block;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 30px;
  vertical-align: top;
}
/* PSEUDO ELEMENT HERE */
.about .description p::first-line {
    line-height: 2em;
    font-size: 1.3em;
    font-style: italic;
}
.about .image {
  display: inline-block;
  width: 29%;
  padding-top: 20%;
  background-color: grey;
}
.about .description .header {
  margin: 0;
}

/* styling for the sections or "stories" on the history pages */
.story {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 40px;
}

/* PSEUDO CLASS HERE */
.story:first-of-type {
    padding: 60px 40px 10px;
}
/* PSEUDO CLASS HERE */
.story:last-of-type {
    padding: 10px 40px 80px;
}
.story-text {
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
    padding: 30px 30px;
}
/* CSS COMBINATOR HERE */
.story-text + .image {
    display: inline-block;
    width: 29%;
}
.story.one .image {
    height: 200px;
    background-color: #bfd7d6;
}
.story.two .image {
    height: 200px;
    background-color: #bcc0c3;
}
.story.three .image {
    height: 200px;
    /*background-color: #ae9d8b;*/ /*brown color: */
    /*background-color: #b1cab5;*/ /*light green */
    background-color: #99a1b4;
}

/* Styling for the footer of every page */
footer {
  text-align: center;
  background-color: #55755f;
  padding: 15px 0px 20px;
}
footer ul {
  padding: 0px 0px 20px;
}
footer ul li {
  display: inline-block;
}
/* CSS COMBINATOR HERE */
li > .icon {
    display: block;
    margin: 5px;
}
.icon.mail {
    width: 20px;
    height: 20px;
    /*background-image: url('../images/mail-icon.svg');*/
    background-image: url('../images/Asset 4.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.icon.phone {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    /*background-image: url('../images/phone-icon.svg');*/
    background-image: url('../images/Asset 3.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.icon.fb {
    width: 20px;
    height: 20px;
    /*background-image: url('../images/fb-icon.svg');*/
    background-image: url('../images/Asset 2.svg');
    background-position: center;
    background-repeat: no-repeat;
}

/* CSS ATTRIBUTE SELECTOR HERE */
a[target="_blank"]:hover {
    /*background-color: #bfd7d6;*/
    background-image: url("../images/fb-icon.svg")
}
/* CSS ATTRIBUTE SELECTOR HERE */
[class|="header"] {
    letter-spacing: 0.1em;
}

/* styling for the family tree page which has yet to be fully implemented */
.tree {
    box-sizing: border-box;
    padding: 30px;
    margin: 100px 0px;
    text-align: center;
}

