h1, h2, h3, .copyright {
  margin: 0;
    font-family: 'Cormorant Garamond', serif;
}
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 18pt;
}
h3 {
  font-size: 16pt;
}
p {
  font-family: 'Pontano Sans', serif;
  letter-spacing: .03em;
}
.form-contact-me {
  font-family: 'Pontano Sans', serif;
}
::selection {
    color: #123913; 
    background: #bfd7d6;
}
.ch {
  font-family: sans-serif;
  font-weight: 100;
}
/* styling for the headers on the history and family tree pages, which includes the title of the site and the navbar*/
header {
    text-align: center;
    margin: 0;
    padding: 30px 0px 50px;
    background-color: #CCDAD4;
}
nav {
  width: fit-content;
  padding: 20px 0px;
  margin: 0 auto;
}
header nav ul {
    padding: 0;
    margin: 0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li:not(:first-child) {
  margin-left: 7px;
}
header nav ul li a {
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  /*font-family: 'Assistant', sans-serif;*/
  font-size: 1.1em;
  color: #fff;
}
header nav ul li:not(.active) a:hover {
  text-decoration: none;
  color: #888;
}
header nav ul li.active a {
  text-decoration: none;
  color: #000;
}
/* styling for just the home page */
.index {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url('https://imgur.com/BQdmPaG.png');
  background-size: cover;
}
.index nav ul {
  margin: 0; padding: 0;
  width: fit-content;
}
.index nav ul li {
  display: inline-block;
}
.index nav ul li:not(:first-child) {
  margin-left: 10px;
}
.index nav ul li a {
  text-decoration: none;
  font-size: 1.1em;
  color: #fff;
}
.index nav ul li:not(.active) a:hover {
    color: #888;
}
.index nav ul li.active a {
  color: #000;
}
.index .header {
  position: absolute;
  top: 50%; left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  /*letter-spacing: 3px;*/
  font-size: 3em;
  color: #ddd;
}
.content {
  max-width: 1200px;
  margin: 50px auto;
}
.about.image {
  height: 100%;
  min-height: 200px;
  width: 100%;
  background-color: #ffffeb;
}
h1, h2 {
  margin: 3% 0;
}

/* styling for the sections or "stories" on the history pages */
.story.row {
    margin: 50px auto;
}
.story .image {
  height: 100%;
  min-height: 200px;
}
.story:first-of-type {
    padding-top: 20px;
}
.story.one .image {
    background-color: #ffffeb;
}
.story.two .image {
    background-color: #55755f;
}
.story.three .image {
    background-color: #b1cab5;
}

/* Styling for the footer of every page */
footer {
  text-align: center;
  background-color: #CCDAD4;
  padding: 15px 0px 20px;
}
footer ul {
  padding: 0px 0px 20px;
}
footer ul li {
  display: inline-block;
}
footer .header {
  margin: 20px;
}
/* CSS COMBINATOR HERE */
li > .icon {
    display: block;
    margin: 5px;
}
.icon.mail {
    width: 20px;
    height: 20px;
    /*background-image: url('../images/mail-icon.svg');*/
    background-image: url('../images/Asset 4.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.icon.phone {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    /*background-image: url('../images/phone-icon.svg');*/
    background-image: url('../images/Asset 3.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.icon.fb {
    width: 20px;
    height: 20px;
    /*background-image: url('../images/fb-icon.svg');*/
    background-image: url('../images/Asset 2.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.icon.fb:hover {
  background-image: url("../images/fb-icon.svg");
}
/* CSS ATTRIBUTE SELECTOR HERE */
/*[class|="header"] {
    letter-spacing: 0.1em;
}*/

/* styling for the family tree page which has yet to be fully implemented */
.tree {
    box-sizing: border-box;
    padding: 30px;
    margin: 100px 0px;
    text-align: center;
}

/* Contact form */
.form-contact-me {
  width: 33.33%;
  max-width: 500px;
}
.form-contact-me .errors {
  white-space: pre-line;
  color: #e84b66;
}
.form-contact-me fieldset input,
.form-contact-me fieldset textarea,
.form-contact-me button {
  width: 100% !important;
}
.form-contact-me fieldset textarea {
  height: 150px;
}
.form-contact-me button {
  background-color: #55755f;
}

/*Family Table*/
.container-family-table {
  width: 33.33%;
  margin: 5% auto;
}
.family-table {
  width: 100%;
}
.container-family-table .form-search .searchbar {
  width: 50%;
}
.container-family-table .form-search .searchbar:focus {
  outline: none;
  border-color: #55755f !important;
}
.container-family-table table th {
  transition: all 0.15s ease;
  cursor: pointer;
}
.container-family-table table th:hover {
  background-color: #c8c8c8;
}



