<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lin Family - Contact</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300i,400" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i|Pontano+Sans" rel="stylesheet">
	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="js/contact.js"></script>

	<meta name="robots" content="noindex" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<header>
	  <h1 class="header">Lin Family</h1>
	  <nav class="navbar">
		<ul>
		  <li><a href="./index.html">Home</a></li>
		  <li><a href="./history.html">History</a></li>
		  <li><a href="./familytree.html">Family Tree</a></li>
		  <li class="active"><a href="./contact.html">Contact</a></li>
		</ul>
	  </nav>
	</header>

	<form
		class="pure-form content container-fluid form-contact-me"
		onsubmit="return form.validate();">
		<h2>Contact Me</h2>
		<p class="errors" v-if="errors.length != 0">
			{{ errors.join('\n') }}
		</p>
		<fieldset class="pure-group">
			<input
				type="text"
				class="pure-input-1-2"
				placeholder="Name"
				v-model="name">
			<input
				type="email"
				class="pure-input-1-2"
				placeholder="Email"
				v-model="email">
		</fieldset>
		<fieldset class="pure-group">
			<input
				type="text"
				class="pure-input-1-2"
				placeholder="Subject"
				v-model="subject">
			<textarea
				class="pure-input-1-2"
				placeholder="Comment"
				v-model="comment"></textarea>
		</fieldset>
		<button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Submit</button>
	</form>
	<footer>
	  <h2 class="header">Contact Me</h2>
	  <ul class="icons">
		<li><a class="icon mail" href="mailto:yniou@andrew.cmu.edu"></a></li>
		<li><a class="icon phone" href="tel:(919)123-456"></a></li>
		<li><a class="icon fb" href="https://www.facebook.com/mimi.niou.5" target="_blank"></a></li>
	  </ul>
	  <div class="copyright">&copy; Mimi Niou</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
